@{
    Layout = "";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p><b>@T("هم اکنون به درگاه بانک  زیبال منتقل می شوید")</b></p>
        </td>
    </tr>
</table>
